/* Ulitity-firt*/
.grid{
  display: grid;
}

.flex{
  display: flex;
}


/*gap*/
.gap-24{
  gap: 24px;
}


/*alignment*/
.grid-center-item{
  justify-items: center;
}

.flex-column{
  flex-direction: column;
}

.flex-justify-center{
  justify-content: center;
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

/*titles*/
.title-sm{
  font: var(--title-sm);
  color: var(--gray-600);
}
.title-md{
  font: var(--title-md);
  color: var(--gray-600);
}
.subtitle{
  font: var(--subtitle);
  color: var(--red);
  margin-bottom: 8px;
}

/*Colors*/
.red{
  color: var(--red);
}
.purple{
  color: var(--purple);
}
.blue{
  color: var(--blue);
}
.green{
  color: var(--green);
}
.yellow{
  color: var(--yellow);
}